.caja-login {
    width: 600px;
    margin: 100px auto;
}
.imagen-miniatura{
	  width: 100%;
    max-width: 45px;
    height: auto;
    border-radius: 50%;
    float: right;
}
#error-titulo,
#error-enlace,
#error-sintomas,
#error-fechaInicio,
#error-fechaFin,
#error-tratamiento
{color:red;}
#correcto{text-align: center;font-size: x-large;color: #00a65a;}
.box-header .right{
	float:right;
}
.fc-color-picker li{
	float:none;
	margin-top: 10px;
}
.fc-color-picker li p {
    font-size: 10px;
    float: right;
    width: 150px;
    clear: both;
}
#calendar .fc-title {
    font-size: 2em;
}
#pendientes .box-body p {
    margin: 0 0 10px;
    font-size: 1.2em;
}
#prioridad{
    float: right;
}
#prioridad .pri{
    margin-right: 15px;
    float: left;
}
/*
.panel-body form {
    float: left;
}
*/
#pendientes_dani .box-title,
#pendientes_elena .box-title,
#pendientes_saloa .box-title
 {
    width: 90%;
}
#pendientes_dani .asignado,
#pendientes_elena .asignado,
#pendientes_saloa .asignado
{

    font-size: 1.3em;
    text-align: right;
}
